In [1]:
import pandas as pd

In [5]:
dataset = pd.read_excel('E:\Subash\MAIN-RANSTAD-PETER.xls')

In [6]:
dataset.head()

,COMBO,COMBO-1,Customer ID,Cust. Name,Supplier ID,Supplier Name,Invoice Number,AP Voucher,Voucher Amount,GROSS,...,RICS Invoice ID,Charge Type,Quantity,Supplier Amount,VMS Consolidated Invoice,VMS Detail Invoice,Descr of Expense,INV NO,Unnamed: 27,INV NO.1
0,Deiva Saranya Ramesh Subramanian|43112|4360,Deiva Saranya Ramesh Subramanian|43112|4316.4,2000796123,DO NOT USE - WALMART/FG,1130732,Wipro LLC,6987265,6063813,4316.4,4360.00,...,NaN,Regular Hours,40.0,107.91,WECCI00000187,WECIN00120006,NaN,NaN,NaN,NaN
1,Alvin Lonakutty|43112|1132.93,Alvin Lonakutty|43112|1121.6,2000796123,DO NOT USE - WALMART/FG,1130732,Wipro LLC,6987793,6064130,1121.6,1132.93,...,NaN,Regular Hours,40.0,28.04,WECCI00000187,WECIN00120642,NaN,NaN,NaN,NaN
2,Alvin Lonakutty|43112|212.42,Alvin Lonakutty|43112|210.3,2000796123,DO NOT USE - WALMART/FG,1130732,Wipro LLC,6987791,6064297,210.3,212.42,...,NaN,Overtime Hours,5.0,42.06,WECCI00000187,WECIN00120642,NaN,NaN,NaN,NaN
3,Sarathkumar K|43112|1132.93,Sarathkumar K|43112|1121.6,2000796123,DO NOT USE - WALMART/FG,1130732,Wipro LLC,6987797,6064132,1121.6,1132.93,...,NaN,Regular Hours,40.0,28.04,WECCI00000187,WECIN00120991,NaN,NaN,NaN,NaN
4,Sarathkumar K|43112|212.42,Sarathkumar K|43112|210.3,2000796123,DO NOT USE - WALMART/FG,1130732,Wipro LLC,6987795,6064298,210.3,212.42,...,NaN,Overtime Hours,5.0,42.06,WECCI00000187,WECIN00120991,NaN,NaN,NaN,NaN